{{#partial "content"}}
    <div class="container-fluid top">
        <div class="py-5 text-center">

            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                        <p>Elegí tu rol para</p>
                        <h2>INGRESAR</h2>
                    </div>
                    <div class="row">
                        {{#each roles}}
                            {{#eq tipo "Voluntario"}}
                                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="rol-item">
                                        <a href="/rol_elegido_voluntario" method="post">
                                            <div class="service-icon">
                                                <i class="fas fa-paw"></i>
                                            </div>

                                            <h3>Voluntario</h3>
                                        </a>
                                    </div>
                                </div>
                            {{/eq}}

                            {{#eq "Dueño" tipo}}
                                 <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                                    <div class="rol-item">
                                        <a href="/rol_elegido_duenio" method="post">
                                            <div class="service-icon">
                                                <i class="fas fa-dog"></i>
                                            </div>

                                            <h3>Dueño</h3>
                                        </a>
                                    </div>
                                </div>
                            {{/eq}}

                            {{#eq tipo "Rescatista"}}
                                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="rol-item">
                                        <a href="/rol_elegido_rescatista" method="post">
                                        <div class="service-icon">
                                            <i class="fab fa-gratipay"></i>
                                        </div>
                                        <h3>Rescatista</h3>
                                        </a>
                                    </div>
                                </div>
                            {{/eq}}

                            {{#eq tipo "Administrador"}}
                                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="rol-item">
                                        <a href="/admin">
                                            <div class="service-icon">
                                                <i class="fas fa-user-cog"></i>
                                            </div>
                                            <h3>Administrador</h3>
                                        </a>
                                    </div>
                                </div>
                            {{/eq}}
                        {{/each}}
                            <!-- Por ahora lo comento
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                            <div class="rol-item">
                                <a href="/">
                                    <div class="service-icon">
                                        <i class="{{classImage}}"></i>
                                    </div>
                                    <h3>{{tipo}}</h3>
                                </a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="rol-item">
                                <a href="index_log_voluntario.html">
                                    <div class="service-icon">
                                        <i class="fas fa-hands-helping"></i>
                                    </div>
                                    <h3>Solicita ser ayudante! 💘</h3>
                                    <p>Postulate para ser voluntario de una organizacion</p>
                                </a>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            <!-- Service End -->
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}