{{#partial "content"}}
    <div class="container-fluid top">
        <div class="py-5 text-center">

            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                        <p>Elegí tu rol para</p>
                        <h2>INGRESAR</h2>
                    </div>
                    <div class="row">
                        {{#each roles}}
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                            <div class="rol-item">
                                <a href="/">
                                    <div class="service-icon">
                                        <i class="{{classImage}}"></i> <!--Necesito persistirno-->
                                    </div>
                                    <h3>{{tipo}}</h3>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                        <!-- Por ahora lo comento
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="rol-item">
                                <a href="index_log_voluntario.html">
                                    <div class="service-icon">
                                        <i class="fas fa-hands-helping"></i>
                                    </div>
                                    <h3>Solicita ser ayudante! 💘</h3>
                                    <p>Postulate para ser voluntario de una organizacion</p>
                                </a>
                            </div>
                        </div>
                        -->
                </div>
            </div>
            <!-- Service End -->
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}